---
import { getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/actionable/Button.astro";
import SkillCard from "@components/section/SkillCard.astro";
import Heading from "@components/section/Heading.astro";
import CertCard from "@components/section/CertCard.astro";

// Get certifications collection entry
const certCollection = await getEntry("certifications", "certifications");
const pageTitle = "Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="page__main"
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <!-- About section -->
  <section id="About" class="py-12">
    <div class="container">
      <div
        class="flex flex-column justify-content-center gap-6 | md:flex-row-reverse"
      >
        <div>
          <img
            src="/images/harounach.jpg"
            alt="Haroun Achouche"
            class="responsive aspect-portrait"
            style="max-width: 300px;"
          />
        </div>
        <div
          class="flex flex-column align-items-center gap-4 | md:align-items-flex-start"
        >
          <h1 class="flex flex-column">
            <span class="display-large text-black">Haroun Achouche</span>
            <span class="display-large text-secondary-500"
              >Software Engineer</span
            >
          </h1>
          <p class="text-md">
            I am a Software Engineer, I have a degree in software engineering
            and over 6 years of web developement experience. I have extensive
            experience with web technology including HTML, CSS , and
            JavaScript., as well as ReactJS and NodeJS Since I have started web
            development, I have been spending every spare minute writing code
            for the web, and learning everything on web application development.
          </p>
          <div>
            <Button
              label="Download Resume"
              url="/assets/Haroun-Achouche-Resume.pdf"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section id="Skills" class="bg-neutral-900 py-12">
    <div class="container">
      <Heading
        title="Skills"
        description="I have experience with these technologies"
        center
        centerDescription
        dark
      />

      <div class="flex flex-wrap gap-3 | md:w-75 md:mx-auto">
        <SkillCard label="HTML" />
        <SkillCard label="CSS" />
        <SkillCard label="JavaScript" />
        <SkillCard label="React" />
        <SkillCard label="Node.js" />
        <SkillCard label="SASS" />
        <SkillCard label="PHP" />
        <SkillCard label="WordPress" />
        <SkillCard label="Python" />
        <SkillCard label="Git/Github" />
        <SkillCard label="CI/CD" />
        <SkillCard label="Docker" />
        <SkillCard label="Firebase" />
        <SkillCard label="AWS" />
      </div>
    </div>
  </section>

  <!-- Education -->
  <section id="Education" class="bg-neutral-100 py-12">
    <div class="container">
      <Heading
        title="Education"
        description="Formal educations I had"
        center
        centerDescription
      />

      <article class="flex flex-column align-items-center gap-3">
        <h3>Bachelor Degree of Software Engineering</h3>
        <h4>SEPTEMBER 2012 - JUNE 2015</h4>
        <h3>University of Constantine, Constantine, Algeria</h3>
      </article>
    </div>
  </section>

  <!-- Experience -->
  <section id="Experience" class="bg-neutral-50 py-12">
    <Heading
      title="Experience"
      description="I worked in several positions"
      center
      centerDescription
    />
    <article class="flex flex-column align-items-center gap-5">
      <h4>Freelance Web Developer</h4>
      <h5>SEPTEMBER 2015 - PRESENT</h5>
      <ul
        class="flex flex-column align-items-center gap-3 list-none text-md text-center"
      >
        <li class="experience__item">Design the front end of the website.</li>
        <li class="experience__item">Develop search friendly web pages</li>
        <li class="experience__item">Maintain and improve clients codebase.</li>
        <li class="experience__item">
          Built online web solutions for individuals
        </li>
        <li class="experience__item">
          Develop HTML/CSS templates for landing pages
        </li>
        <li class="experience__item">
          Perform browsers testing and catch bugs
        </li>
        <li class="experience__item">
          Create websites that engage customers in order to enhance my clients’
          online present
        </li>
      </ul>
    </article>
  </section>

  <!-- Certifications -->
  <section id="Certifications" class="py-12">
    <div class="container">
      <Heading
        title="Certifications"
        description="Certifications I've earned"
        center
        centerDescription
      />

      <article class="grid grid-col-2 gap-6">
        {
          certCollection.data.map((cert) => {
            return (
              <CertCard
                title={cert.title}
                issuer={cert.issuer}
                url={cert.url}
              />
            );
          })
        }
      </article>
    </div>
  </section>

  <!-- Projects -->
  <section class="projects" id="Projects">
    <h3 class="title">Projects</h3>
    <div class="section">
      <article class="projects__grid">
        <!-- New -->

        <!-- VegeFru -->
        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/VegeFru.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">VegeFru</h5>
            <h6 class="project-card__desc">A Online Grocery Store Web App</h6>
            <a
              href="https://github.com/harounach/vegefru"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Ecommerce</span>
        </div>

        <!-- Piplechat -->
        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Piplchat.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Piplechat</h5>
            <h6 class="project-card__desc">A React and Firebase Chat App</h6>
            <a
              href="https://github.com/harounach/piplchat"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Messaging</span>
        </div>

        <!-- Vuestore -->
        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Vuestore.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Vuestore</h5>
            <h6 class="project-card__desc">A Vue.js Shopping Cart</h6>
            <a
              href="https://github.com/harounach/vuestore"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Ecommerce</span>
        </div>

        <!-- Wildfire-Tracker -->
        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Wildfire-Tracker.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Wildfire Tracker</h5>
            <h6 class="project-card__desc">A Wildfire Tracker App</h6>
            <a
              href="https://github.com/harounach/wildfire-tracker"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tool</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/TodoList.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">TodoList</h5>
            <h6 class="project-card__desc">A React Todo List App</h6>
            <a
              href="https://github.com/harounach/todolist"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tool</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Eerkel-Frontend.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Eerkel</h5>
            <h6 class="project-card__desc">Front End for a Chat App</h6>
            <a
              href="https://github.com/harounach/eerkel-frontend"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Messaging</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Storybook.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">StoryBook</h5>
            <h6 class="project-card__desc">
              Create and share stories about your life
            </h6>
            <a
              href="https://github.com/harounach/storybook"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Personal</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Lensey.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Lensey</h5>
            <h6 class="project-card__desc">Lensey is a simple news website</h6>
            <a
              href="https://github.com/harounach/lensey"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">News</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Suun.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Suun</h5>
            <h6 class="project-card__desc">Suun is simple weather website</h6>
            <a
              href="https://github.com/harounach/suun"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Weather</span>
        </div>

        <!-- Old -->
        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/D3-Bar-Chart.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">D3 Bar Chart</h5>
            <h6 class="project-card__desc">Visualize Data with a Bar Chart</h6>
            <a
              href="https://codepen.io/harounacho444/full/zYBXZQJ"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Visualization</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/D3-Scatter-Plot.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">D3 Scatter Plot</h5>
            <h6 class="project-card__desc">
              Visualize Data with Scatterplot Graph
            </h6>
            <a
              href="https://codepen.io/harounacho444/full/qBNwwoy"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Visualization</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/D3-Heat-Map.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">D3 Heat Map</h5>
            <h6 class="project-card__desc">Visualize Data with Heat Map</h6>
            <a
              href="https://codepen.io/harounacho444/full/BazgJRM"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Visualization</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/D3-Choropleth-Map.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">D3 Choropleth Map</h5>
            <h6 class="project-card__desc">
              Visualize Data with Choropleth Map
            </h6>
            <a
              href="https://codepen.io/harounacho444/full/WNxqKzy"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Visualization</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/D3-Tree-Map.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">D3 Tree Map</h5>
            <h6 class="project-card__desc">
              Visualize Data with Treemap Diagram
            </h6>
            <a
              href="https://codepen.io/harounacho444/full/QWEXXRJ"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Visualization</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Random-Quote-Machine.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Random Quote Machine</h5>
            <h6 class="project-card__desc">Build a Random Quote Machine</h6>
            <a
              href="https://codepen.io/harounacho444/full/NWNVxoo"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Quotes</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Markdown-Previewer.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Markdown Previewer</h5>
            <h6 class="project-card__desc">Build a Markdown Previewer</h6>
            <a
              href="https://codepen.io/harounacho444/full/QWNRNry"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tool</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Drum-Machine.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Drum Machine</h5>
            <h6 class="project-card__desc">Build a Drum Machine</h6>
            <a
              href="https://codepen.io/harounacho444/full/LYNoaQv"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Entertainment</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/JavaScript-Calculator.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">JavaScript Calculator</h5>
            <h6 class="project-card__desc">Build a JavaScript Calculator</h6>
            <a
              href="https://codepen.io/harounacho444/full/BaKeepM"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tool</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/(25+5)-Clock.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">25 + 5 Clock</h5>
            <h6 class="project-card__desc">Build a 25 + 5 Clock</h6>
            <a
              href="https://codepen.io/harounacho444/full/ExyLNxO"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tool</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Survey-Form.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Survey Form</h5>
            <h6 class="project-card__desc">Build a Survey Form</h6>
            <a
              href="https://codepen.io/harounacho444/full/KKVVZyz"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Analytics</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Product-Landing-Page.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Product Landing Page</h5>
            <h6 class="project-card__desc">Build a Product Landing Page</h6>
            <a
              href="https://codepen.io/harounacho444/full/YzwqWEN"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Business</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Technical-Documentation-Page.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Technical Documentation Page</h5>
            <h6 class="project-card__desc">
              Build a Technical Documentation Page
            </h6>
            <a
              href="https://codepen.io/harounacho444/full/RwraBaR"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Tech</span>
        </div>

        <div class="project-card">
          <figure class="project-card__fig">
            <img
              src="/images/Personal-Porfolio-Webpage.jpg"
              alt=""
              class="project-card__thumbnail"
            />
          </figure>

          <div class="project-card__text-wrapper">
            <h5 class="project-card__title">Personal Portfolio Webpage</h5>
            <h6 class="project-card__desc">
              Build a Personal Portfolio Webpage
            </h6>
            <a
              href="https://codepen.io/harounacho444/full/XWXKxNa"
              target="_blank"
              class="project-card__btn btn"
              >View <i class="btn__icon fas fa-chevron-right"></i></a
            >
          </div>
          <span class="project-card__tag">Personal</span>
        </div>
      </article>
    </div>
  </section>

  <!-- Contact -->

  <section class="contact section" id="Contact">
    <h3 class="title">Contact</h3>
    <div class="section">
      <ul class="socialbar">
        <!-- Facebook -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://www.facebook.com/harounacho18"
            title="Facebook"
            ><i class="socialbar__icon fab fa-facebook" aria-hidden="true"
            ></i></a
          >
        </li>

        <!-- Instagram -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://www.instagram.com/harounachouche/"
            title="Instagram"
            ><i class="socialbar__icon fab fa-instagram" aria-hidden="true"
            ></i></a
          >
        </li>

        <!-- Twitter -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://twitter.com/harounachouche"
            title="Twitter"
            ><i class="socialbar__icon fab fa-twitter" aria-hidden="true"
            ></i></a
          >
        </li>

        <!-- LinkedIn -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://www.linkedin.com/in/haroun-achouche/"
            title="LinkedIn"
            ><i class="socialbar__icon fab fa-linkedin-in" aria-hidden="true"
            ></i></a
          >
        </li>

        <!-- Pinterest -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://www.pinterest.com/harounachouche/"
            title="Pinterest"
            ><i class="socialbar__icon fab fa-pinterest" aria-hidden="true"
            ></i></a
          >
        </li>

        <!-- Github -->
        <li class="socialbar__item">
          <a
            class="socialbar__link"
            href="https://github.com/harounach"
            title="Github"
            ><i class="socialbar__icon fab fa-github" aria-hidden="true"></i></a
          >
        </li>
      </ul>
    </div>
  </section>
</BaseLayout>
