---
import Button from "@components/actionable/Button.astro";
const { imgUrl, imgAlt, title, descrition, url, tag } = Astro.props;
---

<div class="project-card">
  <div class="project-card__img">
    <img class="responsive aspect-landscape" src={imgUrl} alt={imgAlt} />
  </div>
  <h3 class="project-card__title title-base">{title}</h3>
  <p class="project-card__desc body-base">{descrition}</p>
  <div class="project-card__btn">
    <Button label="View" url={url} />
  </div>
  <span class="project-card__tag">{tag}</span>
</div>
